<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div id="actions" class="container">
    Actiuni:
    <br>
    <div id="action_buttons">
        <a href="/views/admin/patients.html">
            <button>Gestioneaza pacienti</button>
        </a>
        <a href="/views/admin/sensors.html">
            <button>Gestioneaza senzori</button>
        </a>
        <a href="/views/commands.html">
            <button>Lista comenzi in asteptare</button>
        </a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</body>
</html>